*{
    box-sizing: border-box;

}

body{
    margin: 0 auto;

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Hachi Maru Pop', cursive;

}

.botton{
    z-index: 99;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 30px;
    width:40px;
    height: 40px;
    
}

.meun{
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    border: 1px solid #000;
    background-color: black;
    border-radius: 15px;
    height: 5px;
    width: 40px;

}

.meun::before{
    content: '';
    position: absolute;
    top: 15px;
    border: 1px solid #000;
    background-color: black;
    border-radius: 15px;
    height: 3px;
    width: 37px;

}

.meun::after{
    content: '';
    position: absolute;
    top: 30px;
    border: 1px solid #000;
    background-color: black;
    border-radius: 15px;
    height: 3px;
    width: 38px;

}

.navbar{
    width: 400px;
    height: 100%;
    float: left;
    background-color: #fbe47f;

}

.logo{
    display: block;
    width: 130px;
    margin: 100px auto 130px;
    border-radius: 50%;
}

ul{
    margin: 0;
    padding: 0;
   
}

.link{
    list-style: none;
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    letter-spacing: 5px;
    cursor: pointer;

}

.magicconch{
    margin-right: -60px;
    width: 35px;
    vertical-align: middle;
    transform: scale(0);

}

.link:hover .magicconch{
    margin-right: -20px;
    transform: scale(1);
    transition: 0.5s;

}

.content{
    position: relative;
    width: calc(100% - 400px);
    height: 100%;
    float: right;

}

.blocks{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 1000px;
    height: 700px;
    
}

.block-1, .block-2, .block-3{
    height: 700px;
    float: left;
    border-radius: 20px 60px 0px 60px;
    box-shadow: 10px 12px 20px;
}

.block-1{
    width: calc(33% - 5px);
    background-color: #fff463;
    margin-right: 10px;
    
}

.block-1 .filter ,.block-2 .filter, .block-3 .filter{
    /* filter: blur(10px); */
    opacity: 0.5;
}

.block-2{
    width: calc(34% - 10px);
    background-color: #f3baba;
    margin-right: 10px;
}

.block-3{
    width: calc(33% - 5px);
    background-color: #d5e4dc;
    
}

.img-spongebob, .img-patrick ,.img-squidward{
    position: relative;
    top: 25%;
    height: 270px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition:  0.5s 0.1s;
    
}

.img-spongebob{
    background-image: url(../img/spongebob-front.png);
    
}

.block-1:hover .img-spongebob{
    background-image: url(../img/spongebob-back.png);
    transition: 0.5s 0.2s;

}

.img-patrick{
    background-image: url(../img/patrick-front.png);

}

.block-2:hover .img-patrick{
    background-image: url(../img/patrick-back.png);
    transition: 0.5s 0.2s;

}

.img-squidward{
    background-image: url(../img/squidward-front.png);

}

.block-3:hover .img-squidward{
    background-image: url(../img/squidward-back.png);
    transition: 0.5s 0.2s;

}

.blocks p{
    position: relative;
    right: 7%;
    top: 52%;
    margin: 0;
    text-align:right;
    font-size: 30px;

}

@media (max-width: 1410px) {
    .blocks{
        width: 700px;

    }

    .block-1{
        width: 100%;
        height: calc(50% - 5px);
        margin-bottom: 10px;

    }

    .block-2 ,.block-3{
        width: calc(50% - 5px);
        height: calc(50% - 5px);

    }
    
    .img-spongebob, .img-patrick ,.img-squidward{
        top: 10%;

    }
    .blocks p{
        right: 5%;
        top: 5%;

    }
}

@media (max-width: 1110px) {
    .navbar, .content{
        clear: both;

    }

    .navbar{
        width: 100%;
        height: 80px;

    }

    .content{
        width: 100%;
        height: calc(100% - 80px);
    }

    .blocks{
        width: 90%;
        height: 90%;

    }

    .logo{
        position: relative;
        top: 15px;
        left: 40px;
        display: block;
        float: left;
        width: 100px;
        margin: 0;
        
    }

    ul{
        float: right;
        padding-top: 10px;

    }

    .link{
        display: inline-block;
        font-size: 25px;
        padding: 10px;
      
    }

    .link:last-child{
        margin-right: 40px;

    }

    .blocks p{
        top: 13%;

    }
}

@media (max-width: 560px) {
    .link{
        font-size: 22px;
        padding: 10px 2px;
      
    }

    .link:last-child{
        margin-right: 10px;
    }
    
}

@media (max-width: 490px) {
    .meun, .botton{
        display: block;
    }

    .link{
        display: none;
    }

    .logo{
        position: relative;
        top: 15px;
        left: 35%;
        display: block;
        width: 100px;
        height: 50px;
        margin: 0;
        text-align:center

    }

    .blocks{
        width: 100%;
        height: 100%;

    }

    .block-1, .block-2, .block-3{
        border-radius: 0;
        
    }

    .block-1{
        width: 100%;
        height: 34%;
        margin: 0;
       
    }

    .block-2 ,.block-3{
        width: 100%;
        height: 33%;

    }

    .img-spongebob, .img-patrick ,.img-squidward{
        top: 5%;
        height: 250px;

    }

    .blocks p{
        top: -5%;
        font-size: 23px;
        
    }
}